<div class="container">
<h4 class="m-4 bg">会員情報編集</h4>

<%= form_with model: @customer, url: customer_path(current_customer), method: :patch, local:true do |f| %>

  <div class="row">
    <div class="col-3"><p class="text-right">お名前：</div>
    <div class="col-9"><%= f.text_field :name, size: 30, autofocus: true %></div>
  </div>

  <div class="row">
    <div class="col-3"><p class="text-right">お名前(カナ)：</p></div>
    <div class="col-9"><%= f.text_field :name_kana, size: 30 %></div>
  </div>

  <div class="row">
    <div class="col-3"><p class="text-right">電話番号：</p></div>
    <div class="col-9"><%= f.text_field :phone_num, size: 30 %></div>
  </div>

  <div class="row">
    <div class="col-3"><p class="text-right">住所：</p></div>
    <div class="col-9"><%= f.text_field :address, size: 50 %></div>
  </div>

  <div class="row">
    <div class="col-3"><p class="text-right">住所：</p></div>
    <div class="col-9"><%= f.text_field :postal_code, size: 30 %></div>
  </div>

  <div class="row">
    <div class="col-3"><p class="text-right">メールアドレス：</p></div>
    <div class="col-9"><%= f.text_field :email, size: 50 %></div>
  </div>

  <div class="row">
    <div class="mx-auto"><%= f.button '更新する', class: "btn btn-success btn-lg" %></div>
  </div>
<% end %>
</div>