<div class="container-fluid">
  <h3 class="m-4"><span class="admin_heading">新規商品登録</span></h3>
  <%= render 'layouts/error_messages', model: @item %>
  <%= form_with model: @item,url: admin_items_path, method: :post, local:true do |f| %>
    <div class="row mb-3">
      <div class="col-sm-3">商品名</div>
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="row mb-3">
      <div class="col-sm-3">商品画像</div>
      <%= f.attachment_field :image %>
    </div>

    <div class="row mb-3">
      <div class="col-sm-3">税込価格</div>
      <%= f.text_field :price %>
    </div>

    <div class="row">
      <div class="col-sm-3">商品説明</div>
      <div class="col-md-8 p-0">
        <%= f.text_area :description, class: "w-100" %>
      </div>
    </div>

    <div class="row justify-content-center my-4">
      <div class="col-md-4">
        <%= f.submit '商品を追加', class: "btn btn-success w-100" %>
      </div>
    </div>
  <% end %>
</div>