<div class="conteiner">
 <h4>商品一覧</h4>

<div class="row">
 <% @items.each do |item_i| %>
 <div class="col-xl-2 col-sm-3">
  <div class="card text-center h-100 mb-3">
   <a href = "/items/<%= item_i.id %>">
    <%= attachment_image_tag item_i, :image, :fill, 200, 200, format: 'jpeg', class: "card-img-top img-fluid" %>
   </a>
     <div class="card-body">
      <p class="card-title font-weight-bold">
       <!--いいね機能-->
       <% if customer_signed_in? %>
        <% if item_i.favorited_by?(current_customer) %>
         <%= link_to item_favorites_path(item_i.id), method: :delete do %>
          <i class="fas fa-heart", style="color: red;"></i>
         <% end %>
        <% end %>
       <% end %>

       <%= item_i.name %>
      </p>
     </div>
     <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= item_i.description.truncate(12) %></li>
      <li class="list-group-item"><%= item_i.price %>円</li>
     </ul>
 </div>
</div>
<% end %>
</div>


</div>

