<!DOCTYPE html>
<html>
  <head>
    <title>Toaruokomeyasan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="wrapper">
  <header>
    <%= render 'layouts/flash' %>
    <!--管理者ログイン以外ではtopページへ遷移する-->
    <% if admin_signed_in? %>
      <div class="jumbotron mb-0">
        <h2 class="text-center outline">とあるお米屋さん</h2>
      </div>
    <% else %>
      <%= link_to root_path do %>
        <div class="jumbotron my-0">
          <h2 class="text-center outline">とあるお米屋さん</h2>
        </div>
      <% end %>
    <% end %>

    <% if admin_signed_in? %>
      <%= render 'layouts/admin_header' %>
      <% elsif customer_signed_in? %>
        <%= render 'layouts/customer_header' %>
      <% else %>
        <%= render 'layouts/public_header'%>
    <% end %>
  </header>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-1 hidden-xs"></div>
        <div class="col-11">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>

  <footer>
    <%= render 'layouts/footer' %>
  </footer>
  </div>
</html>
