<!DOCTYPE html>
<html>
  <head>
    <title>Toaruokomeyasan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if admin_signed_in? %>
      <%= render 'layouts/admin_header' %>
      <% elsif customer_signed_in? %>
        <%= render 'layouts/customer_header' %>
      <% else %>
        <%= render 'layouts/public_header'%>
    <% end %>
  </header>
  <div class="wrapper">
    <body>
      <%= yield %>
    </body>
  </div>
  <footer><%= render 'layouts/footer' %></footer>
</html>
